<section>
    <form novalidate class="right-column" [formGroup]="form">
            <h2>Reactive form will go here</h2>
            <p><strong>Reactive Form</strong></p>
            <increase-input formControlName="counter"></increase-input>
            <div>
                <label for="name" >Name:</label>
                <input name="name" formControlName="username" type="text">
            </div>
            <div>
                <label for="email">Email:</label>
                <input name="email" type="text" formControlName="email">
            </div>                
            <div>
                <p><strong *ngIf="form.errors !== null && form.errors.empty_username">
                    {{form.errors.empty_username}}
                    </strong></p>
            </div>
            <div>
                <label for="phone">Phone Number:</label>
                <input name="phone" type="text">
            </div>   
            <div>
                <label for="agreement">Do you agree?</label>
                <input name="agreement" type="radio" value="1"> Yes
                <input name="agreement" type="radio" value="0"> No
            </div>
            <div>
                <label for="size">What's your t-shirt size?</label>
                <select name="size" formControlName="sizes" >
                    <option *ngFor="let p of sizes" [value]="p">{{p}}</option>
                </select>
            </div>
            <div formArrayName="addresses">
                <md-card class="address"  *ngFor="let address of form.controls.addresses.controls; let i=index">
                    <span>Address {{i + 1}}</span>
                    <div [formGroupName]="i">
                        <label for="street">Address</label>
                        <input type="text" formControlName="street" placeholder="Street address">
                        <label for="city">City</label>
                        <input type="text" placeholder="City">
                    </div>
                </md-card>
            </div>
            <button (click)="addAddress()">Add Address</button>
            <div>
                <button md-button (click)="submit($event)">Submit</button>
            </div>
    </form>
    <div  class="left-column">
        <p><strong>Debug</strong></p>
        <p><strong>Form Values:</strong></p>
        <p>
            {{form.value | json}}</p>
        <p>
            <strong>Form validity:</strong>
            {{form.valid | json}}
        </p>
        <p> 
            <strong>Form pristine?</strong>
            {{form.pristine | json}}
        </p>
        <p>
            <strong>Form submitted?</strong>
            {{submitted | json}}
        </p>
    </div>
</section>